Fabric==1.4.3
ircutils==0.1.4
SQLAlchemy==0.7.8
psycopg2==2.4.5
pycrypto==2.6
python-dateutil==1.5
requests==0.14.1
ssh==1.7.14
wsgiref==0.1.2
-e git://github.com/ojii/heroku.py.git@40e943eeb#egg=heroku_custom
